if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

# If we are a computer with nix flakes available, then use that to setup
# the build environment with exactly what we need.
if has flake; then
  use flake
# Otherwise if nix-shell is available, then use that.
elif has nix; then
  use nix
fi

nix_direnv_manual_reload
